* {
    color:rgb(255, 255, 255) ;
   
}
body {
    background-image: url("giphy.gif");
}
/*body {
    background-color: rgba (654, 123, 40, 0.04 );*/
}
h1{
    font-size: 5000px;
    text-align: center;
}
*{
box-sizing: border-box;
padding: 50px 25px 75px 100px
}

p{
    text-align: center;
}
.center {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: auto;

}

}
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
    /* set background image per page */
    .home-bg {
        background-image: url("earth.gif");

    }
    
    }
    .home-bg {
    background: url(earth.gif) no-repeat center center fixed;
    }
    .unit1-bg {
     /*background-image: url("giphy.gif");*/
    background-color: aqua
    }


html
{
background: url(giphy.gif) no-repeat center fixed;
    background-size: cover;
}


h1{
    color:rgb(255, 217, 0);
}
h2{
    color:rgb(164, 236, 176);
}
h3{
    color:rgb(215, 249, 250)
}